.banners {
	padding: 1rem 4rem;
}
.banners .banner1 {
	width: 100%;
	border-radius: 10px;
}
.banners .banner2 {
	width: 100%;
	border-radius: 10px;
}

@media (max-width: 800px) {
	.banners {
		padding: 1rem 1rem;
	}
}
