.home-page {
	background-color: #f7f7f7;
	min-height: 100vh;
}

.home-page .home-item {
	margin: 50px;
}

.home-page .home-item p {
	margin: 0 0 2rem 0.9rem;
	font-size: 1.4rem;
	font-weight: 600;
}

@media (max-width: 800px) {
	.home-page .home-item {
		margin: 0;
	}
}
